{% include "header.html" %}
<title>Фильмы | movie-quiz</title>
<link rel="stylesheet" type="text/css" href="/styles/search.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/films.css?v={{version}}">
</head>
<body>
    {% include "menu.html" %}
    <h1 class="top">Фильмы</h1>

    <div class="form-row search-field">
        <div class="form-row-icon form-row-icon-interactive clear {% if not query %}clear-hide{% endif %}" id="clear-icon" onclick="ClearQuery()" title="Очистить">
            <svg class="form-svg-fill-icon" width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" />
            </svg>
        </div>

        <div class="form-row-input">
            <input type="text" class="basic-input default-input" id="query" placeholder="Введите запрос" value="{{query}}" oninput="QueryInput(event)" onkeydown="QueryKeyDown(event, SearchFilms)">
        </div>
        <div class="form-row-icon form-row-icon-interactive" onclick="SearchFilms()">
            <svg class="form-svg-stroke-icon" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z" stroke-width="2" />
            </svg>
        </div>
    </div>

    <div class="search-params">
        <div class="table-block table-equal-block">
            <div class="table-cell">
                <div class="basic-multi-select default-multi-select search-row" id="production">
                    <details {% if search_productions %}open{% endif %}>
                        <summary class="multi-select-title">Производство</summary>
                        {% for production in productions %}
                        <div class="multi-select-row">
                            <label><input type="checkbox" id="production-{{production}}" {% if production in search_productions %}checked{% endif %}> {{production2rus[production]}}</label>
                        </div>
                        {% endfor %}
                    </details>
                </div>

                <div class="basic-multi-select default-multi-select" id="top-lists">
                    <details {% if search_top_lists %}open{% endif %}>
                        <summary class="multi-select-title">Входит в списки</summary>
                        {% for top_list in top_lists %}
                        <div class="multi-select-row">
                            <label><input type="checkbox" id="top-lists-{{top_list}}" {% if top_list in search_top_lists %}checked{% endif %}> {{top_list2rus[top_list]}}</label>
                        </div>
                        {% endfor %}
                    </details>
                </div>
            </div>

            <div class="table-cell">
                <div class="basic-multi-select default-multi-select search-row" id="years">
                    <details {% if search_start_year or search_end_year %}open{% endif %}>
                        <summary class="multi-select-title">Годы выхода</summary>
                        <div class="table-block">
                            <div class="table-cell">
                                <input class="basic-input default-input number-input right" type="text" inputmode="numeric" min="0" id="years-start" value="{{search_start_year}}" oninput="ChangeYear('years-start')" onkeydown="QueryKeyDown(event, SearchFilms)">
                            </div>
                            <div class="table-cell table-cell-no-width">-</div>
                            <div class="table-cell">
                                <input class="basic-input default-input number-input left" type="text" inputmode="numeric" min="0" id="years-end" value="{{search_end_year}}" oninput="ChangeYear('years-end')" onkeydown="QueryKeyDown(event, SearchFilms)">
                            </div>
                        </div>
                    </details>
                </div>

                <div class="basic-multi-select default-multi-select" id="movie-types">
                    <details {% if search_movie_types %}open{% endif %}>
                        <summary class="multi-select-title">Тип</summary>
                        {% for movie_type in movie_types %}
                        <div class="multi-select-row">
                            <label><input type="checkbox" id="movie-types-{{movie_type}}" {% if movie_type in search_movie_types %}checked{% endif %}> {{movie_type2rus[movie_type]}}</label>
                        </div>
                        {% endfor %}
                    </details>
                </div>
            </div>
        </div>
        <div class="error" id="error"></div>
    </div>

    <div class="info">
        Всего в базе {{total_films}}{% if films %}, {{query_films}}{% endif %}
    </div>

    {% if query or search_start_year or search_end_year or search_movie_types or search_top_lists or search_productions %}
    {% if films %}
    <div class="content">
        {% for film in films %}
        <div class="form-row film">
            <div class="film-poster">
                <a href="/films/{{film.film_id}}">
                    <img src="{{film.poster.previewUrl}}" alt="Постер к фильму {{film.name}}" loading="lazy">
                </a>
            </div>
            <div class="film-info">
                <div class="text"><a href="/films/{{film.film_id}}">{{film.name}}</a> {{film.year}}</div>
                <div class="text film-country-directors">
                    {{film.countries[0]}}{% if film.countries|length > 1 %}...{% endif %}{% if film.directors %}, реж. {{film.directors[0].name}}{% if film.directors|length > 1 %}...{% endif %}{%endif %}
                </div>
                <div class="text film-genres">
                    {{film.genres|join(", ")}}
                </div>
                <div class="film-icons" title="Кадры">
                    {% if film.images %}
                    <div class="film-icon">
                        <svg class="film-stroke-icon" width="15px" height="15px" viewBox="2 2 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 5V19M17 5V19M3 8H7M17 8H21M3 16H7M17 16H21M3 12H7M17 12H21M6.2 20H17.8C18.9201 20 19.4802 20 19.908 19.782C20.2843 19.5903 20.5903 19.2843 20.782 18.908C21 18.4802 21 17.9201 21 16.8V7.2C21 6.0799 21 5.51984 20.782 5.09202C20.5903 4.71569 20.2843 4.40973 19.908 4.21799C19.4802 4 18.9201 4 17.8 4H6.2C5.0799 4 4.51984 4 4.09202 4.21799C3.71569 4.40973 3.40973 4.71569 3.21799 5.09202C3 5.51984 3 6.07989 3 7.2V16.8C3 17.9201 3 18.4802 3.21799 18.908C3.40973 19.2843 3.71569 19.5903 4.09202 19.782C4.51984 20 5.07989 20 6.2 20Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class="film-icon-value">{{film.images|length}}</span>
                    </div>
                    {% endif %}

                    {% if film.audios %}
                    <div class="film-icon" title="Аудио">
                        <svg class="film-fill-icon" width="15px" height="15px" viewBox="-3 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="m18.07.169c-.148-.106-.333-.169-.532-.169-.111 0-.217.02-.316.055l.006-.002-11.077 3.938c-.361.131-.613.471-.613.869v.001 2.193.042 10.604c-.534-.295-1.169
                            -.469-1.846-.471h-.001c-.043-.002-.093-.003-.143-.003-1.904 0-3.458 1.497-3.549 3.379v.008c.091 1.89 1.645 3.388 3.549 3.388.05 0 .1-.001.15-.003h-.007c.043.002.093
                            .003.143.003 1.904 0 3.458-1.497 3.549-3.379v-.008-12.883l9.23-3.223v8.973c-.534-.294-1.17-.468-1.846-.47h-.001c-.043-.002-.094-.003-.144-.003-1.904 0-3.457 1.498-3.547
                            3.379v.008c.09 1.89 1.644 3.388 3.548 3.388.051 0 .101-.001.151-.003h-.007c.031.001.068.002.105.002 1.696 0 3.12-1.166 3.513-2.74l.005-.025c.042-.101.068-.217.069-.34v
                            -15.754c0-.31-.153-.585-.388-.752l-.003-.002z"/>
                        </svg>
                        <span class="film-icon-value">{{film.audios|length}}</span>
                    </div>
                    {% endif %}

                    {% if film.cites %}
                    <div class="film-icon" title="Цитаты">
                        <svg class="film-fill-icon" height="15px" width="15px" xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 221.029 221.029">
                            <path d="M44.33,88.474v15.377h38.417v82.745H0v-82.745h0.002V88.474c0-31.225,8.984-54.411,26.704-68.918
                            C38.964,9.521,54.48,4.433,72.824,4.433v44.326C62.866,48.759,44.33,48.759,44.33,88.474z M181.107,48.759V4.433
                            c-18.343,0-33.859,5.088-46.117,15.123c-17.72,14.507-26.705,37.694-26.705,68.918v15.377h0v82.745h82.744v-82.745h-38.417V88.474
                            C152.613,48.759,171.149,48.759,181.107,48.759z"/>
                        </svg>
                        <span class="film-icon-value">{{film.cites|length}}</span>
                    </div>
                    {% endif %}

                    {% if film.facts %}
                    <div class="film-icon" title="Факты">
                        <svg class="film-fill-icon" height="15px" width="15px" viewBox="40 40 432 432"xmlns="http://www.w3.org/2000/svg">
                            <path d="M192.021,128.021 L448.043,128.021 L448.043,85.354 L192.021,85.354 L192.021,128.021 Z M64.043,170.688 L149.376,170.688 L149.376,85.333 L64.043,85.333 L64.043,170.688 Z M192.021,213.354 L448.043,213.354 L448.043,170.688 L192.021,170.688 L192.021,213.354 Z M362.688,384.021 L448.043,384.021 L448.043,298.666 L362.688,298.666 L362.688,384.021 Z M64,341.354 L320,341.354 L320,298.666 L64,298.666 L64,341.354 Z M64.043,426.688 L320.043,426.688 L320.043,384.021 L64.043,384.021 L64.043,426.688 Z" />
                        </svg>
                        <span class="film-icon-value">{{film.facts|length}}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text">К сожалению, по вашему запросу ничего не нашлось</div>
    {% endif %}
    {% endif %}

    <script src="/js/fetch.js?v={{version}}"></script>
    <script src="/js/utils.js?v={{version}}"></script>
    <script src="/js/search.js?v={{version}}"></script>
    <script src="/js/films.js?v={{version}}"></script>

    {% include "footer.html" %}
</body>
</html>
